<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/styles/main_page.css" />
        <title>Stylish Main Page</title>
    </head>

    <body class="page">
        <nav>
            <div class="logo">
                <img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/logo.png" id="logo" />
            </div>

            <ul class="options">
                <li id="women">女裝</li>
                <li id="men">男裝</li>
                <li id="acc">配件</li>
            </ul>
            <input type="text" />
            <input type="submit" value="search" />
            <img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/buy+cart.png" id="img_1" />
        </nav>

        <section class="intro" id="banner">
            <img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/banner.png" />
        </section>
        <section class="itemsSection"></section>
    </body>
    <script src="/js/main_page.js"></script>
</html>